{% extends "base.html" %} {% block content %}

<div class="card py-11 rounded-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg">
                <div class="text-center text-lg-left">
                    <h1 class="mb-5 fs-lg font-weight-extra-bold">Diabetic Retinopathy Detection</h1>
                    <p class="mb-5 lead">Upload the retina images from your iris scannner.</p>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <label for="imageUpload" class="upload-label btn btn-sm btn-primary w-sm-100">
                            Upload Image
                        </label>
                        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                    </form>
                    <button type="button" class="btn btn-primary btn-sm w-sm-100" id="btn-predict"
                        style="display: none;">Predict Class!</button>

                </div>
            </div>
            <div class="col-lg">

                <div class="image-section d-lg-inline rounded" style="display:none;"
                    style="background: var(--neutral);width: 100%;">
                    <div class="img-preview">
                        <div id="imagePreview">
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="loader" style="display:none;"></div>

            <h3 id="result">
                <span> </span>
            </h3>
        </div>
    </div>
</div>
<!-- result-->
<div class="py-11">
    <div class="container">
      <div class="text-center">
        <h2 class="mb-5 font-weight-bold">Result</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <svg class="gi gi-tv-outline mr-3 fs-lg text-primary" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 6h-3.59l2.3-2.29a1 1 0 1 0-1.42-1.42L12 5.59l-3.29-3.3a1 1 0 1 0-1.42 1.42L9.59 6H6a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V9a3 3 0 0 0-3-3zm1 13a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1z"></path>
                </svg>
                <h3 class="lead">
                  <a href="#">Class Label:</a>
                </h3>
              </div>
              <p>The quick brown fox jumps over the lazy dog.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}